<div class="content-wrapper ng-scope ng-fadeInUp">
    <div commety-header></div>
    <div class="row" ng-controller="commetyController" ng-init="init('insurance')">
        <div class="col-lg-4">
            <form name="insuranceForm" ng-submit="SubmitForm(insuranceForm, data, 'insurance')" novalidate="" class="form-validate">
                <!-- START panel-->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title">Form Register</div>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">{{data}}
                            <label class="control-label">Insurance Type</label>
                            <label ng-repeat="(type, isActive) in insuranceType">
                                <input ng-model="data.type" ng-value="isActive['type']" ng-change="data.type == isActive['type']" name="insurance" type="radio"> {{type}}
                               <!-- <input type="radio" ng-model="data.type" name="subscriptionRadio" value="{{type}}" ng-change="data.type = type"/>-->
                            </label>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Name</label>
                            <input type="text" name="name" required="" ng-model="data.name" class="form-control" />
                            <span ng-show="insuranceForm.name.$dirty &amp;&amp; insuranceForm.name.$error.required" class="text-danger">This field is required</span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Policy Name *</label>
                            <input id="id-password" type="text" name="policyName" ng-model="data.policyName" class="form-control" />
                            <span ng-show="insuranceForm.policyName.$dirty && insuranceForm.policyName.$error.required" class="text-danger">This field is required</span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Relation *</label>
                            <input type="text" name="relation" required="" ng-model="data.relation" class="form-control" />
                            <span ng-show="insuranceForm.relation.$dirty && insuranceForm.relation.$error.required" class="text-danger">This field is required</span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Amount *</label>
                            <input type="text" name="amount" required="" ng-model="data.amount" class="form-control" />
                            <span ng-show="insuranceForm.amount.$dirty && insuranceForm.amount.$error.required" class="text-danger">This field is required</span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Due *</label>
                            <input type="text" name="due" required="" ng-model="data.due" class="form-control" />
                            <span ng-show="insuranceForm.due.$dirty && insuranceForm.due.$error.required" class="text-danger">This field is required</span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Total *</label>
                            <input type="text" name="total" required="" ng-model="data.total" class="form-control" />
                            <span ng-show="insuranceForm.total.$dirty && insuranceForm.total.$error.required" class="text-danger">This field is required</span>
                        </div>
                        <div class="required">* Required fields</div>
                    </div>
                    <div class="panel-footer">
                        <div class="clearfix">
                            <div class="pull-right">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END panel-->
            </form>
        </div>
        <div class="col-lg-8">
            <!-- START panel-->
            <div class="panel panel-default">
                <div class="panel-heading"><h3 class="m0 pb-lg">Insurance Records</h3>
                    <paneltool tool-refresh="traditional"></paneltool>
                </div>
                <div class="panel-footer clearfix">
                    <div class="input-group">
                        <input placeholder="Search message .." ng-model="filterOptions['filterText']" class="form-control input-sm" type="text">
               <span class="input-group-btn">
                  <button type="submit" class="btn btn-default btn-sm">Search</button>
               </span>
                    </div>
                </div>
                <!-- START table-responsive-->
                <div class="table-responsive">
                    <div id="ExportToCSV" class="pull-right" ></div>
                    <div ng-grid="gridOptions"></div>
                </div>
                <!-- END table-responsive-->
            </div>
            <!-- END panel-->
        </div>
    </div>
</div>