<div class="nav-wrapper">
    <ul class="nav navbar-nav">
        <li>
            <h3>Commety App
                <!--<small style="font-size: 10px">Powered by Epoch IT Solutions</small>-->
            </h3>
        </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
       <!-- <li dropdown="" class="dropdown dropdown-list">
            <a aria-expanded="false" aria-haspopup="true" dropdown-toggle="">
                <em class="icon-bell"></em>
                <div class="label label-danger">11</div>
            </a>
        </li>-->
       <!-- <li>
            <a href="#/addNew">
                <em></em>Add New Member
            </a>
        </li>-->
        <li class="dropdown">
            <a href="#/commety">
                commety details
                <em class="icon-bell"></em>
                <div class="label label-danger">11</div>
            </a>
        </li>
        <li class="dropdown">
            <a href="#/loanform">
                Loan - Financial Details
                <em class="icon-bell"></em>
                <div class="label label-danger">11</div>
            </a>
        </li>
        <li class="dropdown">
            <a href="#/insuranceform">
                <em></em>MAX Bhupa/ MAX Life
                <em class="icon-bell"></em>
                <div class="label label-danger">11</div>
            </a>
        </li>
        <li>
            <a href="#/setting">
                <em></em> Settings
            </a>
        </li>
    </ul>
</div>