<div class="nav-wrapper">
    <ul class="nav navbar-nav">
        <li>
            <h3>Commety App
                <small style="font-size: 10px">Powered by Epoch IT Solutions</small></h3>
        </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a href="#/addNew">
                <em class="icon-magnifier"></em>Add New Member
            </a>
        </li>
        <li>
            <a href="#/commety">
                <em class="icon-magnifier"></em>commety details
            </a>
        </li>
        <li>
            <a href="#/loanform">
                <em class="icon-magnifier"></em>Loan - Financial Details
            </a>
        </li>
        <li>
            <a href="#/insuranceform">
                <em class="icon-magnifier"></em>MAX Bhupa/ MAX Life
            </a>
        </li>
        <li>
            <a href="#/setting">
                <em class="icon-magnifier"></em> Settings
            </a>
        </li>
    </ul>
    <!-- END Right Navbar-->
</div>